name: First interaction

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

jobs:
  welcome:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: First interaction
        uses: actions/first-interaction@v1.3.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Welcome to Shop Floor Resource Allocation! Thanks for opening your first issue.'
          pr-message: 'Welcome to Shop Floor Resource Allocation! Thanks for opening your first pull request.'

